typescript-recipes/parallel-procurement-n8n/n8n-workflows/workflow2-deep-research.json
{
  "name": "Workflow 2: Scheduled Deep Research",
  "nodes": [
    {
      "id": "node-1",
      "name": "Daily 6AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        100,
        300
      ],
      "typeVersion": 1.2,
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 6
            }
          ]
        }
      }
    },
    {
      "id": "node-2",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        100,
        500
      ],
      "typeVersion": 1,
      "parameters": {}
    },
    {
      "id": "node-3",
      "name": "Read Registry",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        340,
        300
      ],
      "typeVersion": 4.5,
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $vars.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Registry"
        },
        "options": {}
      }
    },
    {
      "id": "node-4",
      "name": "Filter Due Vendors",
      "type": "n8n-nodes-base.code",
      "position": [
        580,
        300
      ],
      "typeVersion": 2,
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst today = new Date().toISOString().slice(0, 10);\nconst vendors = $input.all().map(i => i.json);\nconst due = vendors.filter(v => {\n  if (v.active === false || v.active === \"false\") return false;\n  if (!v.next_research_date) return true;\n  return v.next_research_date.slice(0, 10) <= today;\n});\nreturn due.map(v => ({ json: v }));\n"
      }
    },
    {
      "id": "node-5",
      "name": "Run Task Group",
      "type": "n8n-nodes-base.code",
      "position": [
        820,
        300
      ],
      "typeVersion": 2,
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parallel TypeScript SDK — call client.monitor.* / client.taskRun.* /\n// client.taskGroup.* directly. Requires NODE_FUNCTION_ALLOW_EXTERNAL=parallel-web\n// on self-hosted n8n; n8n Cloud allowlists it for the procurement template.\nconst ParallelMod = require('parallel-web');\nconst Parallel = ParallelMod.default || ParallelMod;\nconst client = new Parallel({ apiKey: $vars.PARALLEL_API_KEY });\n\nconst vendors = $input.all().map(i => i.json);\nif (vendors.length === 0) {\n  return [{ json: { vendors: [], runs: [] } }];\n}\n\nconst outputSchema = {\n  type: \"json\",\n  json_schema: {\n    type: \"object\",\n    properties: {\n      vendor_name: { type: \"string\" },\n      overall_risk_level: { type: \"string\", enum: [\"LOW\",\"MEDIUM\",\"HIGH\",\"CRITICAL\"] },\n      financial_health: { type: \"object\", properties: { status: { type: \"string\" }, findings: { type: \"string\" }, severity: { type: \"string\" } }, required: [\"status\",\"findings\",\"severity\"] },\n      legal_regulatory: { type: \"object\", properties: { status: { type: \"string\" }, findings: { type: \"string\" }, severity: { type: \"string\" } }, required: [\"status\",\"findings\",\"severity\"] },\n      cybersecurity: { type: \"object\", properties: { status: { type: \"string\" }, findings: { type: \"string\" }, severity: { type: \"string\" } }, required: [\"status\",\"findings\",\"severity\"] },\n      leadership_governance: { type: \"object\", properties: { status: { type: \"string\" }, findings: { type: \"string\" }, severity: { type: \"string\" } }, required: [\"status\",\"findings\",\"severity\"] },\n      esg_reputation: { type: \"object\", properties: { status: { type: \"string\" }, findings: { type: \"string\" }, severity: { type: \"string\" } }, required: [\"status\",\"findings\",\"severity\"] },\n      adverse_events: { type: \"array\", items: { type: \"object\" } },\n      recommendation: { type: \"string\" },\n    },\n    required: [\"vendor_name\",\"overall_risk_level\",\"financial_health\",\"legal_regulatory\",\"cybersecurity\",\"leadership_governance\",\"esg_reputation\",\"adverse_events\",\"recommendation\"]\n  }\n};\n\nconst group = await client.taskGroup.create({});\nconst taskgroupId = group.taskgroup_id;\nconst processor = $vars.RESEARCH_PROCESSOR || 'ultra8x';\n\n// Batch in groups of 50 (matches the PRD limit and the TS BatchPlanner).\nconst BATCH = 50;\nconst runIdByDomain = new Map();\nconst orderedDomains = [];\nfor (let i = 0; i < vendors.length; i += BATCH) {\n  const chunk = vendors.slice(i, i + BATCH);\n  const inputs = chunk.map(v => ({\n    input: 'Conduct a vendor risk assessment of ' + v.vendor_name + ' (' + v.vendor_domain + ').',\n    processor,\n  }));\n  const resp = await client.taskGroup.addRuns(taskgroupId, {\n    inputs,\n    default_task_spec: { output_schema: outputSchema },\n  });\n  resp.run_ids.forEach((runId, idx) => {\n    const dom = chunk[idx].vendor_domain;\n    runIdByDomain.set(runId, dom);\n    orderedDomains.push(dom);\n  });\n}\n\n// Poll the group until is_active=false. Hold a soft 1h ceiling matching\n// the TS pollTaskGroupUntilComplete default.\nconst startedAt = Date.now();\nconst TIMEOUT_MS = 60 * 60 * 1000;\nlet timedOut = false;\nwhile (Date.now() - startedAt < TIMEOUT_MS) {\n  const status = await client.taskGroup.retrieve(taskgroupId);\n  if (!status.status.is_active) { timedOut = false; break; }\n  await new Promise(r => setTimeout(r, 60000));\n  timedOut = true;\n}\n\n// Drain completed runs (and basis) via the streaming getRuns API.\nconst runs = [];\nconst stream = await client.taskGroup.getRuns(taskgroupId, { include_output: true });\nfor await (const event of stream) {\n  if (event && event.type === 'task_run.state' && event.run) {\n    runs.push({\n      run_id: event.run.run_id,\n      status: event.run.status,\n      output: event.output || null,\n    });\n  }\n}\n\n// Finding 18: log how many vendors are still in flight after the 1h cap\n// so operators don't silently re-cycle the same vendors every day.\nconst TERMINAL = new Set(['completed', 'failed', 'cancelled']);\nconst inFlight = runs.filter(r => !TERMINAL.has(r.status)).length;\nconst opsReport = {\n  taskgroup_id: taskgroupId,\n  total_vendors: vendors.length,\n  total_runs: runs.length,\n  in_flight_count: inFlight,\n  timed_out: !!timedOut && inFlight > 0,\n};\n\nreturn [{ json: { vendors, runs, runIdByDomain: Array.from(runIdByDomain.entries()), orderedDomains, taskgroup_id: taskgroupId, ops_report: opsReport } }];\n"
      }
    },
    {
      "id": "node-6",
      "name": "Parse Results",
      "type": "n8n-nodes-base.code",
      "position": [
        1060,
        300
      ],
      "typeVersion": 2,
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst data = $input.first().json;\nconst vendors = data.vendors || [];\nconst runs = data.runs || [];\nconst runIdToDomain = new Map(data.runIdByDomain || []);\nconst byDomain = new Map(vendors.map(v => [v.vendor_domain, v]));\n\nreturn runs\n  .filter(r => r.status === 'completed' && r.output)\n  .map(r => {\n    const domain = runIdToDomain.get(r.run_id);\n    const vendor = byDomain.get(domain) || {};\n    return {\n      json: {\n        vendor,\n        research_output: r.output.content || r.output,\n        basis: r.output.basis || [],\n        run_id: r.run_id,\n        status: r.status,\n        source: 'deep_research',\n      }\n    };\n  });\n"
      }
    },
    {
      "id": "node-7",
      "name": "Score & Route (WF3)",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1300,
        300
      ],
      "typeVersion": 1,
      "parameters": {
        "source": "parameter",
        "workflowId": ""
      }
    },
    {
      "id": "node-8",
      "name": "Update Research Dates",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1540,
        300
      ],
      "typeVersion": 4.5,
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $vars.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Registry"
        },
        "options": {},
        "columns": {
          "mappingMode": "autoMapInputData"
        }
      }
    }
  ],
  "connections": {
    "Daily 6AM Trigger": {
      "main": [
        [
          {
            "node": "Read Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Registry": {
      "main": [
        [
          {
            "node": "Filter Due Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due Vendors": {
      "main": [
        [
          {
            "node": "Run Task Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Task Group": {
      "main": [
        [
          {
            "node": "Parse Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Results": {
      "main": [
        [
          {
            "node": "Score & Route (WF3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score & Route (WF3)": {
      "main": [
        [
          {
            "node": "Update Research Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "n8n-procurement",
    "vendor-risk"
  ]
}